body{
	background-color:#333;
	padding:0px;
	margin:0px;
}

#banner{
	width:900px;
	height:150px;
	background:url(../images/banner.png) no-repeat #f92769;
	margin:0 auto;
}

nav{
	width:900px;
	margin:0 auto;
}

nav ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
	height:100%
}

nav li{
	float:left;
	padding:0px;
	margin:0px;
	height:100%;
	width:16.6666666%;
}

nav a{
	color:#a6da27;
	text-decoration:none;
	display:block;
	border:solid 1px #fff;
	padding:10px;
	margin:0px;
	text-align: center;
	text-transform:uppercase;
	font-weight:bold;
}

nav a:hover{
	color:#272822;
	background-color:#a6da27;
}

#wrap{
	width:900px;
	height:100%;
	border:solid 0px #fff;
	
	float:left;
}

.sect{
	width:50%;
	min-height:500px;
	float:left;
	background-color:#f0f0f0;
}

.sect div{
	border:solid 1px #fff;
	width:93%;
	min-height:500px;
	padding-left:15px;
	padding-right:15px;
}

.break{
	clear:both;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

footer{

	padding:10px;
	text-align: right;
	color:#fff;
	font-size:8pt;
}


